<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>TestiServlet</servlet-name>
        <servlet-class>TestiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KayttajaServlet</servlet-name>
        <servlet-class>Kayttaja.servlets.KayttajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KayttajaA</servlet-name>
        <servlet-class>Muistilista.Servlets.KayttajaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirjautuminenServlet</servlet-name>
        <servlet-class>Muistilista.Servlets.KirjautuminenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kayttajanakyma</servlet-name>
        <servlet-class>Muistilista.Servlets.Kayttajanakyma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirjauduUlos</servlet-name>
        <servlet-class>Muistilista.Servlets.KirjauduUlos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Askareet</servlet-name>
        <servlet-class>Muistilista.Servlets.Askareet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisaaAskare</servlet-name>
        <servlet-class>Muistilista.Servlets.LisaaAskare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuokkaaAskaretta</servlet-name>
        <servlet-class>Muistilista.Servlets.MuokkaaAskaretta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestiServlet</servlet-name>
        <url-pattern>/TestiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KayttajaServlet</servlet-name>
        <url-pattern>/KayttajaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KayttajaA</servlet-name>
        <url-pattern>/KayttajaA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjautuminenServlet</servlet-name>
        <url-pattern>/KirjautuminenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kayttajanakyma</servlet-name>
        <url-pattern>/Kayttajanakyma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjauduUlos</servlet-name>
        <url-pattern>/KirjauduUlos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Askareet</servlet-name>
        <url-pattern>/Askareet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisaaAskare</servlet-name>
        <url-pattern>/LisaaAskare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuokkaaAskaretta</servlet-name>
        <url-pattern>/MuokkaaAskaretta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
